@media screen and (max-width: 320px) {
  html {
    font-size: 30.5px!important;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 73.5px!important;
  }
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}
ul {
  list-style: none;
}
body {
  background: url("../imgs/bg_11.jpg") no-repeat top;
  background-attachment: fixed;
  background-size: 10rem 5.6rem;
  background-color: #ccc;
}
.w {
  width: 10rem;
  height: 5.6rem;
  margin: 0 auto;
}
.w .top {
  position: fixed;
  color: #fff;
  overflow: hidden;
  background: url("../imgs/bg_11.jpg") no-repeat top;
  background-size: cover;
}
.w .top .miaoSha {
  margin-top: 1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  font-size: 0.4rem;
  font-weight: bold;
}
.w .top .miaoSha a {
  float: left;
  background: url("../imgs/left.png") no-repeat center;
  background-size: contain;
  height: 0.4rem;
  width: 0.4rem;
  margin: 0.06666667rem 0.53333333rem;
}
.w .top .miaoSha .search {
  position: relative;
  float: right;
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.53333333rem;
  background: url("../imgs/search.png") no-repeat center;
  background-size: contain;
}
.w .top .miaoSha .search .input {
  visibility: hidden;
  position: absolute;
  top: -4px;
  right: 65px;
  height: 45px;
  line-height: 45px;
  border-radius: 15px;
  width: 0;
  background-color: #fff;
  text-align: center;
  transition: all 1s cubic-bezier(0, 0.51, 0.25, 1);
  box-sizing: border-box;
  overflow: hidden;
}
.w .top .miaoSha .search .input input {
  font-size: 20px;
  border: none;
  height: 30px;
  background-color: #fff;
  padding: 0;
  outline: none;
}
.w .top .miaoSha .search .input input[type="text"] {
  float: left;
  color: #e68a12;
  text-indent: 20px;
  width: 424px;
  height: 45px;
  line-height: 45px;
}
.w .top .miaoSha .search .input input[type="button"] {
  float: right;
  width: 100px;
  margin-top: 10px;
  height: 25px;
  border-left: 2px solid #ccc;
  color: #df5b09;
}
.w .top .miaoSha .search .souSuo {
  visibility: visible;
  width: 530px;
}
.w .top .time {
  display: flex;
  height: 0.93333333rem;
  width: 10rem;
  align-content: space-around;
  padding-left: 0;
  margin-top: 0.4rem;
}
.w .top .time li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccc;
}
.w .top .time li .beginTime {
  font-size: 0.4rem;
}
.w .top .time li .word {
  margin-top: 0.2rem;
  font-size: 0.26666667rem;
}
.w .top .time .active {
  color: #fff;
  font-weight: bold;
}
.content {
  display: none;
  margin-top: -2.13333333rem;
}
.content .element {
  display: flex;
  height: 3.33333333rem;
  margin: 0 0.26666667rem 0.13333333rem;
  background-color: #fff;
  border-radius: 0.2rem;
}
.content .element .picture {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .element .picture img {
  width: 2.22666667rem;
  height: 2.09333333rem;
}
.content .element .inner {
  flex: 7;
  display: flex;
  flex-direction: column;
}
.content .element .inner .biaoTi {
  font-size: 0.26666667rem;
  font-weight: bold;
  margin-top: 0.53333333rem;
  color: black;
}
.content .element .inner .miaoSu {
  font-size: 0.21333333rem;
  color: #ccc;
  margin: 0.26666667rem 0;
}
.content .element .inner .jinDu {
  height: 0.26666667rem;
  line-height: 0.26666667rem;
  margin-bottom: 0.2rem;
}
.content .element .inner .jinDu .progress {
  width: 3.66666667rem;
  height: 0.26666667rem;
  float: left;
}
.content .element .inner .jinDu .progress .pro-bar-container.color-pumpkin {
  height: 0.26666667rem;
}
.content .element .inner .jinDu .progress .pro-bar-container.color-pumpkin .pro-bar.bar-40.color-carrot {
  height: 0.26666667rem;
}
.content .element .inner .jinDu .num {
  margin-left: 0.26666667rem;
  vertical-align: top;
  font-size: 0.21333333rem;
  color: #ec790e;
}
.content .element .inner .qiangGou {
  color: #eb5e0d;
}
.content .element .inner .qiangGou .jiage {
  float: left;
  margin-top: 0.2rem;
  font-size: 0.26666667rem;
  height: 0.6rem;
}
.content .element .inner .qiangGou .jiage i {
  font-size: 0.4rem;
}
.content .element .inner .qiangGou .btn {
  float: right;
  box-sizing: border-box;
  font-size: 0.21333333rem;
  padding: 0.05333333rem 0.26666667rem;
  border: 0.02666667rem solid #df5b09;
  text-align: center;
  line-height: 0.57333333rem;
  border-radius: 0.3rem;
  margin-right: 0.26666667rem;
  margin-top: 0.2rem;
  transition: all 1s;
}
.content .element .inner .qiangGou .checked {
  background-color: #ccc;
  border-color: #b6aeae;
  color: #fff;
  margin-right: 0.37333333rem;
}
.content.active {
  display: block;
}
